body,
html{
    background: #EAEDED;
    font-family: 'Source Sans Pro',
    sans-serif;
}

#main-content{
    background: #ffffff;
    margin-top: 30px;
    min-height: 500px;
}
.choice{
    width: 50%;
    height: 50px;
    margin: 5px 0 5px 0;
}
.choice:hover,
.blue-button{
    background: #027BFF;
}

.gray-button{
    background: #6D757D;
}

#options-div,
#result-div,
#final-div,
#result-gif,
#replay-button {
    display: none;
}

#replay-button{
    margin-top: 20px;
}

@media (max-width: 992px) {
    

}

@media (max-width: 768px) {
    
}


@media (max-width: 576px) {
.choice,
#question {
    font-size: 100%;
}

}

